.center {
    text-align: center;
}

.padding {
    padding-top: 10px;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 10px;
}

.skinny {
    width: 80%;
}

.large-text {
    font-size: 20px;
}

.generated {
    font-size: 14px;
}

.header-dropdown {
  background-color: transparent;
}
