#board {
  min-width: 950px;
}

div.board-cell {
  display: inline-block;
  margin: 5px;
  width: 160px;
}

div.board-cell button {
  width: 100%;
  height: 50px;
  font-size: 15px;
  font-family: Verdana;
  border-width: 0px;
  color: #fff;
}

.modal-content {
  font-size: 50px;
  font-family: Verdana;
}

.card.gray {
  background-color:#999999;
}

button[data-cell-type="TEAM_A"] {
  background-color:#0099cc;
}

button[data-cell-type="TEAM_B"] {
  background-color:#e60000;
}

button[data-cell-type="NEUTRAL"] {
  background-color:#ffc34d;
}

button[data-cell-type="BOMB"] {
  background-color:#000;
}

button[data-cell-type="UNKNOWN"] {
  background-color:#999999;
}

[data-cell-type="TEAM_A"] {
  color:#0099cc;
}

[data-cell-type="TEAM_B"] {
  color:#e60000;
}

[data-cell-type="NEUTRAL"] {
  color:#ffc34d;
}

[data-cell-type="BOMB"] {
  color:#000;
}

